/*-----For screen up to 640px-----*/
@media (max-width: 640px) {
  /* --- Header --- */  
  .header {
    height: 160px;
    background-position: center -100px;
    margin-bottom: 39px;
  }
  
  .menu {
    flex-direction: column;
  }

  .menu__item {
    font-size: 18px;
    background-color: #81b3d2;
    width: 100%;
    height: 56px;
    color: white;
    border-bottom: 1px solid #678fa8;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
      inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  
  .menu__item:nth-child(1)::after {
    content: "";
    background: url(../img/icon/icon-cross.png) no-repeat center;
    width: 23px;
    height: 22px;
    position: absolute;
    right: 20px;
  }

  .menu__item__tablet {
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    order: 5;
  }

  .menu__item__tablet::after {
    content: "";
    background: url(../img/icon/icon-menu.png) no-repeat center;
    width: 23px;
    height: 21px;
    position: absolute;
    z-index: 15;
    right: 20px;
  }

  .menu__logo__tablet {
    position: absolute;
    top: 0;
  }

  .sedona {
    font-size: 55px;
    top: 45%;
  }


  /* --- Main --- */
  .main__header {
    font-size: 18px;
    margin-bottom: 29px;
  }

  .main__text br {
    display: none;
  }

  .main__form {
    margin-top: 0;
  }


  /* --- Feeling --- */
  .all__impression,
  .your__name {
    width: 100%;
    height: 306px;
    border-top: 1px solid #e5e5e5;
  }

  .feeling {
    flex-wrap: wrap;
  }

  .feeling__header {
    font-size: 18px;
  }

  .your__name {
    order: -1;
    padding-left: 0;
    align-items: center;
    justify-content: flex-start;
  }

  .all__impression {
    justify-content: flex-start;
  }

  .name__list,
  .impression__list {
    margin-top: 6px;
    margin-bottom: 0;
  }

  .name__list__item {
    padding-left: 6%;
    margin-right: 6%;
    margin-bottom: 20px;
  }

  .impression__list__item {
    margin-bottom: 15px;
    text-align: center;
  }

  .impression__list__item__radio
  + .impression__list__item__text {
    margin-left: -5%;
  }

  .impression__list__item__radio
  + .impression__list__item__text::before {
    margin-right: 19px;
  }


  /* --- Contacts --- */
  .head-line::after,
  .heading-2::after,
  .heading-2::before {
    display: none;
  }

  .heading-2 {
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 1.4;
  }

  .contacts {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 0;
    height: 310px;
    align-items: flex-start;
  }

  .contacts__block {
      justify-content: center;
  }

  .contacts__text {
    width: 100%;
  }

  .contacts__phone {
      order: 1;
      margin-bottom: 10px;
  }

  .contacts__email {
      order: 3;
  }

  input[type="tel"], 
  input[type="email"] {
      width: 75%;
  }

  .validation__tel {
      position: relative;
      order: 2;
      top: 0;
      right: 0;
      left: -30px;
      margin-bottom: 20px;
  }

  /* --- Attractions --- */
  .attractions {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 0;
  }

  .attractions__check {
      width: 85%;
      height: 330px;
  }

  .attractions__check__item {
      width: 100%;
  }

  .attractions__check__item:nth-child(2) {
      order: 3;
  }

  .attractions__check__item:nth-child(3) {
      order: 2;
   }

  .attractions__check__item:nth-child(4) {
      order: 4;
   }


   /* --- Happines --- */
   .happines__block {
       margin-top: 18px;
   }

   .happines {
     margin-bottom: 50px;
   }


   /* --- Main Bottom --- */
   .main__bottom {
     flex-wrap: wrap;
   }

   .main__form__submit {
     width: 100%;
   }

   .required__text {
     display: none;
   }

   .container__bottom {
     margin-bottom: 50px;
   }


  /* --- Footer --- */
  .page__footer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__visit,
  .made {
    width: 100%;
    text-align: center;
  }
}
