/*-----For screen up to 768px-----*/
@media (max-width: 768px) {
  body {
    box-shadow: none;
  }

  
  /*--- Header --- */
  .header {
    margin-bottom: 58px;
  }
  
  .header::after {
    background-size: cover;
  }

  .menu__item__desktop {
    display: none;
  }

  .menu__item__tablet {
    display: block;
  }


  /* --- Main --- */
  .main__form {
    margin-top: 50px;
  }

  .heading-2 {
    margin-bottom: 30px;
  }

  .head-line::after,
  .heading-2::after,
  .heading-2::before {
    animation: none;
  }

  .heading-2::after,
  .heading-2::before {
    width: 19%;
  }


  /* --- Feeling --- */
  .feeling {
    padding-top: 0;
  }

  .feel__impression {
    padding-left: 3.5%;
  }

  .impression__list__item {
    text-align: left;
    word-wrap: normal;
  }

  .impression__list__item__text {
    word-wrap: normal;
  }

  .impression__list__item__radio
  + .impression__list__item__text {
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 0;
    width: 100%;
  }

  .impression__list__item__radio
  + .impression__list__item__text::before {
    margin-right: 15px;
  }
  
  .name__list__item {
    padding-left: 8%;
    margin-right: 15%;
  }


  /* --- Contacts --- */
  .contacts__block {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 60px;
  }

  .contacts__phone {
    margin-bottom: 30px;
  }

  .contacts__phone,
  .contacts__email {
    width: 100%;
    flex-wrap: wrap;
  }

  .contacts__text {
    margin: 0 28px 10px 20px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 84%;
    padding-left: 22px;
  }

  .validation__tel {
    text-align: right;
    right: 60px;
  }

  /* --- Attractions --- */
  .attractions {
    margin-bottom: 35px;
  }

  .attractions__check {
    flex-wrap: wrap;
    width: 60%;
    height: 175px;
    margin-top: 10px;
  }

  .attractions__check__item {
    width: 50%;
  }


  /* --- Happines --- */
  .happines__block__text {
    width: 85%;
  }

  /* --- Main bottom --- */
  .container__bottom {
    width: 85%;
  }

  /* --- Footer --- */
  .page__footer {
    width: 85%;
  }
}