body {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  box-shadow: 0 0 40px 40px #dbdbdb;
}

/*HEADER*/

.header {
  display: flex;
  margin: 0 auto;
  height: 357px;
  background: url(../img/back-desktop.png) no-repeat 0 -161px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
}

.header::after {
  display: block;
  content: "";
  background: url(../img/svg/intro-triangle.svg) no-repeat;
  position: absolute;
  top: 302px;
  width: 1200px;
  height: 57px;
}

.header__menu {
  margin: 0;
  padding: 0;
}

.header__menu__list {
  display: flex;
  background: white;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.header__menu__list__item {
  display: flex;
  width: 240px;
  height: 56px;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu__list__item__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.header__menu__list__item__link:hover {
  text-decoration: none;
  color: #81b3d2;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__menu__list__item__link:active {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #766357;
}

.header__menu__list__item__logo {
  position: relative;
  top: 20px;
}

.header__sedona {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 108px;
  margin: 76px auto;
}
