body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #000;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
  box-shadow:  0 0 40px 40px #dbdbdb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 9px auto;
}

.header {
  background: url(../img/back-desktop.png) no-repeat center -161px;;
  position: relative;
  width: 100%;
  height: 357px;
  margin-bottom: 105px;
  overflow: hidden;
}

.header::after {
  content: "";
  background: url(../img/svg/intro-triangle.svg) no-repeat center;
  position: absolute;
  bottom: -1px;
  width: 100%;
  max-width: 1200px;
  height: 57px;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.menu__item {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
  align-items: center;

  position: relative;
  height: 56px;
  width: 280px;

  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.menu__item:hover {
  text-decoration: none;
  color: #81b3d2;
}

.menu__item:active {
  text-decoration: none;
  color: #766357;
}

.menu__logo__desktop {
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all 0.1s linear;
}

.menu__logo__desktop:hover {
  animation-timing-function: linear;
  transform: scale(0.9) translateY(-6px);
}

.menu__item__tablet {
  display: none;
}

.sedona {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 108px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}