body {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  width: 1200px;
}


/*HEADER*/


.header {
  display: flex;
  margin: 0 auto;
  height: 357px;
  background: url(../img/back-desktop.jpg.png) no-repeat;
  background-position-y: -161px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.header__menu {
  margin: 0;
  padding: 0;
}

.header__menu__list {
  display: flex;
  background: white;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.header__menu__list__item {
  display: flex;
  width: 240px;
  height: 56px;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__menu__list__item__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.header__menu__list__item__logo {
  position: relative;
  top: 20px;
}

.header__sedona {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 140px;
  margin: 62px;
}

.header__triangle {
  position: absolute;
  top: 301px;
}



/*--------------------MAIN-----------------*/



.main__header-1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 108px 380px 26px;
}

.main__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 69px;
  text-align: center;
  line-height: 24px;
}

.main__form {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.main__form__fieldset1 {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  height: 372px;
  justify-content: center;
}


/*---------form feeling---------*/


.main__form__fieldset1__feeling,
.main__form__fieldset1__name {
  border-bottom: 1px solid #dbdbdb;
}

.main__form__fieldset1__feeling {
  padding: 0 127px 0 129px;
  width: 344px;
}

.main__form__fieldset1__feeling__list {
  margin: 0;
  padding 0;
}

.main__form__fieldset1__feeling__list__text {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 57px;
  list-style-type: none;
}

.main__form__fieldset1__feeling__list__item {
  list-style-type: none;
  margin-bottom: 30px;
}

.main__form__fieldset1__feeling__list__item__radio {
  display: none;
}

.main__form__fieldset1__feeling__list__item__text
 {
  display: block;
  margin: 0;
}


/*---------input[type="radio"]+label-----------*/

.main__form__fieldset1__feeling__list__item__radio + .main__form__fieldset1__feeling__list__item__text
{
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

/*---------input[type="radio"]+label::before-----------*/

.main__form__fieldset1__feeling__list__item__radio + .main__form__fieldset1__feeling__list__item__text::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border: 15px solid #dbdbdb;
  border-radius: 50%;
  background-color: #dbdbdb;
  margin: 0 24px 0 -70px;
}

/*---------input[type="radio"]:checked+label::before-----------*/

.main__form__fieldset1__feeling__list__item__radio:checked + .main__form__fieldset1__feeling__list__item__text::before {
  background-color: #000;
}

/*---------input[type="radio"]:checked+label-----------*/

.main__form__fieldset1__feeling__list__item__radio:checked + .main__form__fieldset1__feeling__list__item__text {
  color: black;
}


/*----------form-name---------*/


.main__form__fieldset1__name {
  border-left: 1px solid #dbdbdb;
  padding: 0 120px 0 79px;
  width: 400px;
}

.main__form__fieldset1__name__list {
  margin: 0;
  padding 0;
  display: flex;
  flex-flow: column;
}

.main__form__fieldset1__name__list__text {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 48px;
  list-style-type: none;
}

.main__form__fieldset1__name__list__item {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

input[type="text"] {
  width: 95%;
}

.main__form__fieldset1__name__list__item__text {
  display: block;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  margin: 22px 14px 33px 0;
}

.main__form__fieldset1__name__list__item__text__in {
  background-color: #f2f2f2;
  border: none;
  height: 58px;
}

.main__form__fieldset1__name__list__item__text__in::placeholder {
  padding: 22px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}


/*----------------fieldset 2--------------*/


.main__form__fieldset2 {
  margin: 0;
  padding: 0 0 78px 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
}

.heading-2 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.main__form__fieldset2__phone-email {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 87px 120px 78px 120px;
}

.main__form__fieldset2__phone-email__item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main__form__fieldset2__item__text {
  margin: 20px 16px 22px 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
}

input[type="tel"],
input[type="email"] {
  width: 257px;
} 

.main__form__fieldset2__phone-email__item__icon-phone {
  width: 18px;
  height: 18px;
  padding: 20px 19px 20px 21px;
  background-color: #dbdbdb;
}

.main__form__fieldset2__phone-email__item__icon-mail {
  width: 16px;
  height: 12px;
  padding: 23px 21px;
  background-color: #dbdbdb;
}

.main__form__fieldset2__item__input {
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding: 0;
}

.main__form__fieldset2__item__input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black;
  padding: 22px;
}


/*----------------fieldset 3--------------*/


.main__form__fieldset3 {
  margin: 0;
  padding: 0 0 78px 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
}

.main__form__fieldset3__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 50px 124px 83px 125px;
  padding: 0;
}

.main__form__fieldset3__list__item {
  display: flex;
}

.main__form__fieldset3__item__check {
  display: none;
}

.main__form__fieldset3__item__text
 {
  display: block;
  margin: 0;
}

/*---------input[type="checkbox"]+label-----------*/

.main__form__fieldset3__item__check + .main__form__fieldset3__item__text
{
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

/*---------input[type="checkbox"]+label::before-----------*/

.main__form__fieldset3__item__check + .main__form__fieldset3__item__text::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 16px;
  vertical-align: middle;
  border-top: 15px solid #dbdbdb;
  border-right: 10px solid #dbdbdb;
  border-bottom: 15px solid #dbdbdb;
  border-left: 12px solid #dbdbdb;
  background-color: #dbdbdb;
  margin: 0 24px 0 0;
}

/*---------input[type="checkbox"]:checked+label::before-----------*/

.main__form__fieldset3__item__check:checked + .main__form__fieldset3__item__text::before {
  background: url(../img/icon/ticktick.svg) no-repeat;
}

/*---------input[type="checkbox"]:checked+label-----------*/

.main__form__fieldset3__item__check:checked + .main__form__fieldset3__item__text {
  color: black;
}


