.main__header-1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 106px 380px 26px;
}

.main__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 56px;
  text-align: center;
  line-height: 24px;
}

.main__form {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.main__form__fieldset1 {
  padding: 0;
  margin: 0;
  border: none;
}

.feeling {
  display: flex;
  justify-content: center;
}

/*---------form feeling---------*/

.main__form__fieldset1__feeling {
  padding: 0 0 0 60px;
  width: 420px;
}

.main__form__fieldset1__feeling__list {
  margin: 0 0 0 20px;
  padding: 0;
}

.main__form__fieldset1__feeling__list__text {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 65px;
  list-style-type: none;
}

.main__form__fieldset1__feeling__list__item {
  list-style-type: none;
  margin-bottom: 30px;
}

.main__form__fieldset1__feeling__list__item__radio {
  display: none;
}

.main__form__fieldset1__feeling__list__item__text {
  display: block;
  margin: 0;
}

/*---------input[type="radio"]+label-----------*/

.main__form__fieldset1__feeling__list__item__radio
  + .main__form__fieldset1__feeling__list__item__text {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

/*---------input[type="radio"]+label::before-----------*/

.main__form__fieldset1__feeling__list__item__radio
  + .main__form__fieldset1__feeling__list__item__text::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  border: 15px solid #f2f2f2;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 0 24px 0 -70px;
}

.main__form__fieldset1__feeling__list__item__radio
  + .main__form__fieldset1__feeling__list__item__text:hover::before {
  border: 15px solid#e5e5e5;
  background-color: #e5e5e5;
}
/*---------input[type="radio"]:checked+label::before-----------*/

.main__form__fieldset1__feeling__list__item__radio:checked
  + .main__form__fieldset1__feeling__list__item__text::before {
  background-color: #000;
}

/*---------input[type="radio"]:checked+label-----------*/

.main__form__fieldset1__feeling__list__item__radio:checked
  + .main__form__fieldset1__feeling__list__item__text {
  color: black;
}

/*----------form-name---------*/

.main__form__fieldset1__name {
  width: 480px;
}

.main__form__fieldset1__name__list {
  margin: 0;
  padding: 0 0 0 79px;
  display: flex;
  flex-flow: column;
  border-left: 1px solid #dbdbdb;
}

.main__form__fieldset1__name__list__text {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 55px;
  list-style-type: none;
}

.main__form__fieldset1__name__list__item {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

input[type="text"] {
  width: 100%;
}

.main__form__fieldset1__name__list__item__text {
  display: block;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  margin: 22px 14px 38px 0;
}

.main__form__fieldset1__name__list__item__text__in {
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  padding-left: 22px;
}

.main__form__fieldset1__name__list__item__text__in:hover {
  background-color: #e5e5e5;
}

.main__form__fieldset1__name__list__item__text__in:active {
  box-shadow: inset 0px 0px 0px 4px #e5e5e5;
  background-color: #ffffff;
}

.main__form__fieldset1__name__list__item__text__in:focus {
  outline: none;
}

.main__form__fieldset1__name__list__item__text__in::placeholder {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

/*----------------fieldset 2--------------*/

.main__form__fieldset2 {
  margin: 40px 0 0 0;
  padding: 0;
  border: none;
  position: relative;
}

.heading-2 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-2__center {
  display: inline-block;
  width: 280px;
}

.heading-2::after {
  content: "";
  display: inline-block;
  background-color: #dbdbdb;
  height: 1px;
  width: 320px;
  vertical-align: middle;
  margin-left: 30px;
}

.heading-2::before {
  content: "";
  display: inline-block;
  background-color: #dbdbdb;
  height: 1px;
  width: 320px;
  vertical-align: middle;
  margin-right: 30px;
}

.fieldset2__validation__tel {
  display: block;
  color: #ff5c5c;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 75px;
  left: 224px;
}

.main__form__fieldset2__phone-email {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 74px 120px 0 120px;
}

.main__form__fieldset2__phone-email__item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main__form__fieldset2__item__text {
  margin: 20px 16px 22px 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
}

input[type="tel"],
input[type="email"] {
  width: 257px;
}

input[type="tel"]:hover,
input[type="email"]:hover {
  background-color: #e5e5e5;
}

input[type="tel"]:active,
input[type="email"]:active {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 4px #e5e5e5;
}
input[type="tel"]:focus,
input[type="email"]:focus {
  outline: none;
}

.list__tel::after {
  content: "";
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url(../img/icon/phone.png) no-repeat 21px 20px;
  background-color: #dbdbdb;
  vertical-align: middle;
}

.list__email::after {
  content: "";
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url(../img/icon/mail.png) no-repeat 21px 23px;
  background-color: #dbdbdb;
  vertical-align: middle;
}

.main__form__fieldset2__item__input {
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  width: 258px;
  padding-left: 22px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.main__form__fieldset2__item__input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

/*----------------fieldset 3--------------*/

.main__form__fieldset3 {
  margin: 40px 0;
  padding: 10px 0 0 0;
  border: none;
}

.main__form__fieldset3__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 47px 124px 27px 125px;
  padding: 0;
}

.main__form__fieldset3__list__item {
  display: flex;
}

.main__form__fieldset3__item__check {
  display: none;
}

.main__form__fieldset3__item__text {
  display: block;
  margin: 0;
}

/*---------input[type="checkbox"]+label-----------*/

.main__form__fieldset3__item__check + .main__form__fieldset3__item__text {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}

/*---------input[type="checkbox"]+label::before-----------*/

.main__form__fieldset3__item__check
  + .main__form__fieldset3__item__text::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: middle;
  background-color: #f2f2f2;
  margin: 0 30px 0 0;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.main__form__fieldset3__item__check
  + .main__form__fieldset3__item__text:hover::before {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

/*---------input[type="checkbox"]:checked+label::before-----------*/

.main__form__fieldset3__item__check:checked
  + .main__form__fieldset3__item__text::before {
  background: url(../img/icon/tick.svg) no-repeat 11px 15px;
  background-color: #f2f2f2;
}

.main__form__fieldset3__item__check:checked
  + .main__form__fieldset3__item__text:hover::before {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

/*---------input[type="checkbox"]:checked+label-----------*/

.main__form__fieldset3__item__check:checked
  + .main__form__fieldset3__item__text {
  color: black;
}

/*------------fieldset 4-------------*/
.main__form__fieldset4 {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fieldset4__width {
  width: 960px;
  height: 160px;
  margin: 55px 0 0 120px;
}

.main__form__fieldset4__text {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  resize: none;
  margin: 0;
  padding: 15px 21px;
}

.main__form__fieldset4__text:hover {
  background-color: #e5e5e5;
}

.main__form__fieldset4__text:active {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 4px #e5e5e5;
}

.main__form__fieldset4__text:focus {
  outline: none;
}

.main__form__fieldset4__text::placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.main__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__form__submit {
  margin: 58px 120px;
  padding: 21px 148px;
  background-color: #81b3d2;
  color: white;
  border: none;
  font-size: 21px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  width: 480px;
}

.main__form__submit:hover {
  background-color: #669ec0;
}

.main__form__submit:visited {
  background-color: #5496bd;
}

.addition {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 84px 120px 0 0;
}
