.container__top {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 9px auto;
  display: flex;
  flex-wrap: wrap;
}

.main__header {
  width: 100%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.main__text {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 24px;
  margin-bottom: 38px;
}

.all__impression,
.your__name {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 355px;
  margin-bottom: 13px;
}

.all__impression {
  padding-left: 3%;
}

.feeling__header {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.feel__impression {
  text-align: center  ;
}

.impression__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.impression__list__item {
  list-style-type: none;
  margin-bottom: 23px;
  text-align: center;
}

.impression__list__item__radio {
  display: none;
}

.impression__list__item__radio
  + .impression__list__item__text {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  margin-right: 22%;
}

.impression__list__item__radio
  + .impression__list__item__text::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  vertical-align: middle;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 20px;
}

.impression__list__item__radio
  + .impression__list__item__text:hover::before {
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
} 

.impression__list__item__radio:checked
  + .impression__list__item__text::after {
    content: "";
    background: #000;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 18px;
    top: 4px;
}

.impression__list__item__radio:checked
  + .impression__list__item__text {
  color: black;
}

.your__name {
  padding-left: 6.666666%;
}

.name__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.name__list__item {
  display: flex;
  align-items: center;
  margin-right: 22%;
  margin-bottom: 19px;
}

.name__list__item__text {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
}

.name__list__item__text__in {
  cursor: text;
  width: 100%;
  margin-left: 10px;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-left: 22px;
  padding-right: 4px;
  outline: none;
}

.name__list__item__text__in:hover {
  background-color: #e5e5e5;
}

.name__list__item__text__in:focus {
  box-shadow: inset 0px 0px 0px 4px #e5e5e5;
  background-color: #ffffff;
}

.name__list__item__text__in::placeholder {
  color: black;
  font-weight: 700;
  font-size: 18px;
}