.contacts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 38px;
}

.heading-2 {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-line {
  position: relative;
}

.head-line::after {
  content: "";
  display: inline-block;
  background-color: #dbdbdb;
  width: 1px;
  height: 316px;
  position: absolute;
  left: 140px;
  bottom: 75px;
  animation: border-anim 1s linear;
}

@keyframes border-anim {
  0% {
    width: 1px;
    height: 0;
  }
  100% {
    width: 1px;
    height: 316px;
  }
}

.head-2__center {
  width: 280px;
}

.heading-2::after {
  content: "";
  display: inline-block;
  background-color: #dbdbdb;
  height: 1px;
  width: 27%;
  vertical-align: middle;
  margin-left: 30px;
  animation: head-animation 1s linear;
}

.heading-2::before {
  content: "";
  display: inline-block;
  background-color: #dbdbdb;
  height: 1px;
  width: 27%;
  vertical-align: middle;
  margin-right: 30px;
  animation: head-animation 1s linear;
}

@keyframes head-animation {
  0% {
    width: 0;
    height: 1px;
  }
  100% {
    width: 27%;
    height: 1px;
  }
}

.contacts__block {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 27px;
}

.validation__tel {
  color: #ff5c5c;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 74px;
  left: 224px;
}

.contacts__phone,
.contacts__email {
  width: 480px;
  display: flex;
  align-items: center;
}

.contacts__phone::after {
  display: inline-block;
  content: "";
  width: 56px;
  height: 56px;
  background: url(../img/icon/phone.png) no-repeat 21px 20px;
  background-color: #dbdbdb;
}

.contacts__email::after {
  display: block;
  content: "";
  width: 56px;
  height: 56px;
  background: url(../img/icon/mail.png) no-repeat 21px 23px;
  background-color: #dbdbdb;
}

.contacts__text {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 20px;
}

input[type="tel"],
input[type="email"] {
  outline: none;
  width: 53%;
  background-color: #f2f2f2;
  border: none;
  height: 56px;
  padding-left: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

input[type="tel"]:hover,
input[type="email"]:hover {
  background-color: #e5e5e5;
}

input[type="tel"]:focus,
input[type="email"]:focus {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 4px #e5e5e5;
}

input[type="tel"]::placeholder,
input[type="email"]::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black;
}