.happines {
  margin-bottom: 50px;
  width: 100%;
}

.happines__block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

.happines__block__text {
  width: 80%;
  height: 160px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  resize: none;
  padding: 15px 21px 0 21px;
  outline: none;
  border-radius: 7px;
}

.happines__block__text:hover {
  background-color: #e5e5e5;
}

.happines__block__text:focus {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 4px #e5e5e5;
}

.happines__block__text::placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.container__bottom {
  width: 80%;
  margin: 0 auto 90px auto;
}

.main__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__form__submit {
  cursor: pointer;
  background-color: #81b3d2;
  color: white;
  border: none;
  font-size: 21px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px;
}

.main__form__submit:hover {
  background-color: #669ec0;
  animation-name: btn;
  animation-duration: 2s;
}

.main__form__submit:visited {
  background-color: #5496bd;
}

.required__text {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}